# Database Configuration
DB_NAME=hotspot_db
DB_USER=hotspot_user
DB_PASSWORD=your_secure_password_here
DB_HOST=postgres
DB_PORT=5432

# JWT Authentication
# Ganti dengan string acak yang panjang dan aman pada saat produksi (production)
JWT_SECRET=your_jwt_secret_key_here

# Application Settings
NODE_ENV=production
PORT=3001

# Network & Server Host IP
# IP Laptop/Server Docker (IP ether2 penghubung ke router)
SERVER_IP=192.168.88.2
SERVER_PORT=3000
